.header{
    display: grid;
    grid-template-columns: 1fr 80px;
    border-bottom: 1px solid var(--c-border) ;
    border-right: 1px solid var(--c-border) ;
    align-items: center;
    height: 54px;
}

.headertext{
    display: block;
    padding-left: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--c-yellow);

    @media (--d) {

        color: var(--c-text-color);
    }


}
.modselect{
    display: block;
    place-self: center;
}
.buton{
    svg{
        font-size: 30px;
    }
}
