.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);


}

.mod{

  display: grid;
  grid-template-rows: 20px 80px 1fr 100px;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border: 1px solid var(--c-yellow);
  background-color: var(--c-primary);
  border-radius: 20px;
  margin: 20px;
  h2{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: auto;
    color: var(--c-yellow);

  }
  h3{
    text-transform:capitalize;
    text-align: center;
    font-size: 30px;

    margin-bottom: auto;
    padding-bottom: 60px;


  }


}

.container{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position:relative;
  width:100%;
  margin:0 auto;
  svg{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size:8vw;
    color: var(--c-text-color);
  }
}

.button{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  outline-style: none;
  cursor: pointer;
  background-color: var(--c-white);
  color: black;
  padding-left: 20px;
  padding-right: 20px;


  border: 3px solid var(--c-text-color) ;

  margin-right: auto;
  margin-left: auto;

  width:100%;
  min-width: 65px;
  max-width: 4vw;
  height: 4vw;
  min-height: 65px;
  max-height: 100px;
  border-radius:99px;


  input[type='radio'] {
    display: none;

  }



  &:hover{
    color: var(--c-primary);
    background-color: var(--c-yellow);}
}
.kapat{
  display: grid;
  grid-row-end: auto;
  margin: -15px -15px auto auto;
  font-size: 30px;
  color: var(--c-yellow);
  &:hover{
    color: var(--c-primary);
    background-color: var(--c-yellow);
  }
}
.container [id="Light"]{
  background-color: white;
}
.container [id="Dark"]{
  background-color: black;
}
.container [id="Sepia"]{
  background-color: #F5DD9F;
}
.container [id="Dim"]{
  background-color: #16202A;
}

:global(.light):root {
  .container [id="Light"]{
    border: 3px solid var(--c-yellow) ;
    svg:nth-child(1) {
      color: var(--c-yellow);
      border: transparent ;
    }
  }
}
:global(.dark):root {
  .container [id="Dark"]{
    border: 3px solid var(--c-yellow) ;
    svg:nth-child(1) {
      color: var(--c-yellow);
      border: transparent ;
    }
  }
}
:global(.sepia):root {
  .container [id="Sepia"]{
    border: 3px solid var(--c-yellow) ;
    svg:nth-child(1) {
      color: var(--c-yellow);
      border: transparent ;
    }
  }
}
:global(.dim):root {
  .container [id="Dim"]{
    border: 3px solid var(--c-yellow) ;
    svg:nth-child(1) {
      color: var(--c-yellow);
      border: transparent ;
    }
  }
}
.button [id="Light"]{
  color:black;
}
.button [id="Dark"]{
  color:white;
}
.button [id="Sepia"]{
  color:black;
}
.button [id="Dim"]{
  color:white;
}

