.header{
    display: grid;
    grid-template-columns: 1fr 120px;
    border-bottom: 1px solid var(--c-border) ;
    align-items: center;
    height: 54px;
}
.headertext{
    display: block;
    padding-left: 15px;
    font-weight: bold;


}
.modselect{
    display: block;
}
.buton{
    svg{
        font-size: 30px;
    }
}
