.photo {

    display: grid;
    align-items: center;

}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    border-radius: 99px;
}
.title{
    display: inherit;
    width: 100%;
    font-size: 19px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

