.photo {
    display: block;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.img{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 46px;
    border-radius: 50%;
}
