
.sidebar {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
    @media (--t) {
        align-items: flex-start;
    }
}
.profile {

    margin: 96px auto auto;
}

.navigation{
    margin: auto;

}

.footer{
    margin: auto auto 14px;
}